extends layout
block content
    table(class='content')
        tr
            th Selected Gateway ID
            th(class='low') <b>Low Risk</b> Temperatures Recorded 
            th(class='mid') <b>Mid Risk</b> Temperatures Recorded 
            th(class='high') <b>High Risk</b> Temperatures Recorded 
            th Start Time of Transportation
        tr
            th #{gatewayId}
            th(class='low') #{fiftyPlus}
            th(class='mid') #{seventyPlus} 
            th(class='high') #{eightyPlus}
            th #{startTime}
