extends layout
block content
    table(class='content')
        tr
            th Selected Gateway ID
            th(class='low') Low Risk Temperatures Recorded (minutes spent above 50 &#176F)
            th(class='mid') Mid Risk Temperatures Recorded (minutes spent above 70 &#176F)
            th(class='high') High Risk Temperatures Recorded (minutes spent above 80 &#176F)
            th Start Time of Transportation
        tr
            th #{gatewayId}
            th(class='low') #{fiftyPlus}
            th(class='mid') #{seventyPlus} 
            th(class='high') #{eightyPlus}
            th #{startTime}
    div(id='plot')
    
